{% extends "autoIntern/base.html" %}
{% block content %}
{% if user is null %}
    <!-- Generic Homepage for not logged in User -->
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Auto Intern</h1>
        <p class="lead font-weight-normal"> One stop shop for collaboration and innovation</p>
        <a class="btn btn-outline-secondary" href="#">Coming Relatively Soon</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% else %}
<!-- what the user sees if they are logged in -->
<!-- Probably will be the filesystem or cases or something like that -->

<!-- For now going to show an upload button that allows to upload local Files -->
<!-- as well as scrape a url for the content and add it to the file system -->
<button class="btn btn-outline-primary" data-toggle="modal" type="button" data-target="#uploadModal">Upload</button>
<!-- Upload modal -->
<div class="modal" tabindex="-1" role="alertdialog" id="uploadModal">
  <div class="modal-dialog" role="alertdialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Maybe Turn into DocumentModelForm at some point -->
            <input type="file" class=" btn btn-outline-default form-control-file" id="exampleFormControlFile1" name="uploadFile">
             <button type="submit" class="btn btn-outline-primary">Upload</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endif %}
{% endblock %}
